{% extends "base.html.twig" %}

{% block title %}CRUD Test{% endblock title %}
{% block main %}
    <h1>CRUD Test</h1>
    <div class="border p-3 mt-5">
        {{ include('errors.html.twig') }}
        <form method="post" action="{{ url_for("/mongocrud") }}">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ email }}"
                       placeholder="you@example.com" aria-describedby="emailHelp" autocomplete="email" required>
                <div id="emailHelp" class="form-text">Please enter the email address you registered with.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="name" name="name"
                       placeholder="Your Name" aria-describedby="nameHelp">
                <div id="nameHelp" class="form-text">Please enter your name.</div>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
    <div class="border p-3 mt-5">
        <h2>List of E-Mails</h2>
        <div>
            <table>
                <tr>
                    <th>E-Mails</th>
                </tr>
                {% if emails is defined %}
                    {% for key, value in emails %}
                        <tr>
                            <td> {{ emails[key]['email'] }} </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td> No emails found in search </td>
                            <td>&nbsp;</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
{% endblock main %}